# Logs
log
logs
*.log
*.log.*
*.orig
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log

# local env files
.env.local
.env.*.local

# Coverage
coverage

# Yarn
.yarn-integrity
#yarn.lock

# Env
.env
/env.json

# Temp
*.bak
*.tmp
*.swp
*.pyc

# Dependencies
node_modules
bower_components

# Cache
.npm
.eslintcache
.cache

# Thumbnails
._*

# Compress
.tgz
.zip
.gz
.tar

# IDE
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw*

# OSX
.DS_Store

# Windows
Thumbs.db

# Easywebpack
dist
run
app/view/**/*.js
zip
public
test
config/manifest.json
src/asset/element-theme/lib

config.my.ts
